:root {
    /*COLOR-GRAY-HEX-CODES*/
    --color-light-gray-1: #aeaeae;
    --color-light-gray-2: #696969;
    --color-light-gray-3: #3b3b3b;

    /*COLOR-BLUE-HEX-CODES*/
    $color-light-blue-1: #5c5cff;
    $color-light-blue-2: #0000d1;
    $color-light-blue-3: #000075;

    /*COLOR-BROWN-HEX-CODES*/
    --color-light-brown-1: #ffbe7c;
    --color-light-brown-2: #f27900;
    --color-light-brown-3: #964b00;

    /*COLOR-GOLD-HEX-CODES*/
    --color-light-gold-1: #ffe55c;
    --color-light-gold-2: #d1b000;
    --color-light-gold-3: #756300;

    /*COLOR-PINK-HEX-CODE*/
    --color-light-pink-1: #ffc0cb;
    --color-light-pink-2: #ff92a5;
    --color-light-pink-3: #ff3659;

    /*OTHER-COLOR-HEX-CODES*/
    --color-white: #ffffff;
    --color-black: #000000;
    --color-light-pink: #fcf5f5;
}
